[Unit]
Description=Conky system monitor

[Service]
ExecStart=/usr/bin/conky -c ~/.config/herbstluftwm/conkyrc
Restart=on-failure

[Install]
WantedBy=default.target
