[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=HOME=%h
ExecStart=/usr/bin/dm-tool lock
ExecStartPost=sleep 2

[Install]
WantedBy=sleep.target
